<tui-tabs-with-more [activeItemIndex]="activeItemIndex$ | async">
    <ng-container *ngFor="let example of examples; let index = index">
        <button tuiTab *tuiItem [routerLink]="[example.path]" (click)="activeTab(example.data.tabIndex)">Example {{ index + 1 }}</button>
    </ng-container>
</tui-tabs-with-more>
<router-outlet *ngIf="(activeItemIndex$ | async) !== null; else content"></router-outlet>

<ng-template #content> </ng-template>

<ng-container *ngFor="let animal of zooService.animals">{{animal.emoji}}</ng-container>
