<pull-to-refresh class="pull-to-refresh" (pulled)="onPull()">
    <p>
        Do not forget to
        <strong>open it in Android / IOS device or Dev Tools emulation</strong>
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <button
        tuiButton
        type="button"
        class="finish-button"
        (click)="finishLoading()"
    >
        Finish loading
    </button>
</pull-to-refresh>

<blockquote>
    <p>
        This is my last RxJS challenge and I hope you'll enjoy it.
    </p>

    <p>
        Let's imitate native iOS and Android pull-to-refresh behavior. This
        component should listen to user's touch events and gradually shows loader
        from the top (like in Android or iOS). When user has pulled it far enough,
        it should emit a <code>(pulled)</code> event to start loading and continue
        showing loaders until <code>LOADED</code> event happens. You need to write
        code in <code>pull-to-refresh</code> component to implement this logic. Feel
        free to take a look at real Android / iOS devices to imitate their behavior
        closer.
    </p>
</blockquote>
