<section #zone class="zone">
    <div
        #contentWrapper
        class="content"
        [class.transitive]="transitioned$ | async"
        [style.transform]="wrapperTransform$ | async"
    >
        <img
            [width]="width"
            [height]="height"
            src="https://s1.1zoom.ru/b5050/140/332052-alexfas01_1920x1200.jpg"
        />
    </div>
</section>

<button class="rotate-button" (click)="rotation$.next(rotation$.value + 90)">
    Rotate
</button>

<button class="zoom-button" (click)="updateZoom(zoom$.value - 0.2)">
    Zoom -
</button>
<button (click)="updateZoom(zoom$.value + 0.2)">
    Zoom +
</button>

<button class="reset" (click)="reset()">
    Reset
</button>

<blockquote>
    There is a picture in some preview app and logic that handles user events and
    collect them in three streams: <code>drag$</code>, <code>rotation$</code> and
    <code>zoom$</code>. Make an RxJS stream that will transform a picture inside
    zone according to drag events, rotation and zoom (drag works only for scaled
    image)
</blockquote>
