<tui-tabs [activeItemIndex]="activeItemIndex$ | async">
    <button
        *ngFor="let example of examples; let index = index"
        tuiTab
        [routerLink]="[example.path]"
        (click)="activeTab(example.data.tabIndex)"
    >
        Example {{index + 1}}
    </button>

</tui-tabs>
<router-outlet *ngIf="(activeItemIndex$ | async) !== null; else content"></router-outlet>

<ng-template #content>
    <p>Примеры по RXJS</p>
    <a href="https://github.com/AngularWave/rxjs-challenge" target="_blank"> 1-20 - Challenges</a>
</ng-template>